@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap");

img {
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

.appWrapper {
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out,-webkit-transform .3s ease-in-out;
}

.header__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 0px;
    background-color: rgba(0, 0, 0, 0.2);
}

.header__title {
    position: relative;
    top: 50%;
    /*left: 50%;*/
    width: 80%;
    margin: -50px auto;
    text-align: center;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}

@media (max-width: 580px) {
    .header__title {
        width: 90%;
        -webkit-transform: translate(0%, -60%);
        transform: translate(0%, -60%);
    }
}
.header__title__img__wrapper {
    width: 100%;
    height: 100%;
    margin: 0px 0px 15px 0px;
    opacity: 0;
}

.header__title__img__wrapper img {
    width: 100px;
}

.header__title__h2 {
    font-family: "Roboto", sans-serif;
    font-style: italic;
    font-size: 1.4em;
    letter-spacing: 0.5px;
    color: #ccbe7a;
    display: block;
    margin: 0px 0px 40px 0px;
    padding: 0;
    font-weight: normal;
    position: relative;
    top: -40px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
}

.header__title__h1 {
    font-family: "Roboto",Helvetica,Arial,Lucida,sans-serif;
    font-style: normal;
    font-size: 60px;
    line-height: 1.2em;
    letter-spacing: 0.5px;
    color: #ffffff;
    display: block;
    /*margin: 0;*/
    margin-bottom: 0px;
    padding: 10px 0;
    opacity: 0;
    position: relative;
    top: -20px;
    font-weight: 500;
    /*text-transform: uppercase;*/
    -webkit-backface-visibility: hidden;
    overflow: hidden;

    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media (max-width: 640px) {
    .header__title__h1 {
        font-size: 40px;
        padding: 25px 0;
    }
}

@media (max-width: 850px) {
    .header__title__h1 {
        font-size: 35px;
        padding: 25px 0;
    }
}

.header__title__paragraph {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 1.6em;
    width: 100%;
    max-width: 750px;
    color: #fff;
    opacity: 0;
    padding: 0;
    font-weight: 400;
    margin: 15px auto 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-backface-visibility: hidden;
    letter-spacing: 0.7px;
}

@media (max-width: 640px) {
    .header__title__paragraph {
        font-size: 18px;
        line-height: 1.4em;
    }
}
.bg {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    background-color: transparent;
    background-position: center center;
    background-size: cover !important;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.headerIntro {
    background-image: linear-gradient( rgba(126, 26, 56, 0.5), rgba(126, 26, 101, 0.5)), url(../images/caloriehome.jpg);
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transform: matrix(1.08, 0, 0, 1.08, 0, 0);
    transform: matrix(1.08, 0, 0, 1.08, 0, 0);
}

.js-to-Scroll {
    position: absolute;
    bottom: 55px;
    width: 31px;
    height: 18px;
    left: 50%;
    opacity: 0;
    margin: 0 0 0 -15px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.js-to-Scroll:hover {
    bottom: 60px;
}

.scroll__icon svg {
    width: 31px;
    height: 18px;
    fill: #ffffff;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.js-to-Scroll:hover svg {
    fill: #ccbe7a;
}

#main {
    height: 1000px;
}
